* {
    margin: 0;
    padding: 0;
}

body{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}

.background{
    background-color: palevioletred;
    position: fixed;
    z-index: -1;
}

.screen{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: gray;
    padding: 30px 15px 50px 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 1px rgb(190, 190, 190);
    margin-top: 25px;
}

.screen canvas{
    margin: 15px;
}

.screen h1 {
    color: rgb(58, 17, 243);
    text-shadow: -3px -2px 1px #CE5937;
    font-size: 50px;
}

.screen .controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0 0 0;
    list-style-type: none;
}

.screen button{
    width: 120px;
    justify-self: center;
    padding: 15px;
    background-color: grey;
    color: black;
    font-size: 25px;
    font-weight: 800;
    text-transform: lowercase;
    border-width: 12px;
    text-decoration-line: none;
}


.screen button:hover{
    border: 2px outset rgb(78, 78, 78);
    border-width: 12px;
}

.screen .up .down{
    align-self: center;
}


